<%- include("./../partials/header"); %>
<h1 style="font-size: 30px; text-align: center"><u>Our Team</u></h1>

<div class="row" style="padding-left: 250px">
  <div class="column">
    <div class="content">
      <img src="image/amit.jpg" />
      <h3 style="font-size: 14px">Amit Aditya</h3>
      <p>ID: 1722162</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="image/yeanur.jpg" />
      <h3 style="font-size: 14px">Yeanur Rahman Chowdhury</h3>
      <p>ID: 1610802</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="image/ifaz.jpg" />
      <h3 style="font-size: 14px">Ifaz Alam Chowdhury</h3>
      <p>ID: 1721464</p>
    </div>
  </div>
</div>

<%- include("./../partials/footer"); %>
