<%- include("./../partials/header"); %>
  <section class="home" id="home">
    <div class="home_container bd-container bd-grid">
      <div class="home_data">
        <h1 class="home_title">Hello<br />Burger Lovers</h1>
        <h2 class="home_subtitle">
          We serve the best burgers <br />
          in the town. Try our famous <br />
          burgers right now.
        </h2>
        <a href="/menu" class="button">View Menu</a>
      </div>
      <img src="image/1.png" alt="" class="home_img" />
    </div>
  </section>

  <section class="about section bd-container" id="about">
    <div class="about_container bd-grid">
      <div class="about_data">
        <span class="selection-subtitle about_initial">About us</span>
        <h2 class="selection-title about_initial">
          We cook the fresh <br />
          burgers
        </h2>
        <p class="about_description">
          We cook the best food in the town with excellent customer service and
          the best meals at the best price.
        </p>
      </div>
      <img src="image/2.jpg" alt="" class="about_img" />
    </div>
  </section>

  <%- include(".././partials/footer"); %>