</div>
<footer>
    <div class="footer-content">
        <h3>Famous Burger</h3>
        <p>Address: Gulshan-1, Dhaka Bangladesh<br>Mobile: +880123456789<br>Email Address: famousburger@gmail.com</p>
        <ul class="social-links">
            <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
            <li><a href="#"><i class='bx bxl-instagram' ></i></a></li>
            <li><a href="#"><i class='bx bxl-twitter' ></i></a></li>
            <li><a href="#"><i class='bx bxl-whatsapp' ></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2020 famousburger</p>
    </div>
</footer>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="js/script.js"></script>
</body>
</html>